@media (min-width: 590px) {
  .search-title {
   line-height: 100%;
 }
}
@media (min-width: 320px) and (max-width: 589px) {
.search-title {
  font-size: 30px;
}

/* entire searchbar + icons sans placeholder text */
.input-wrapper {
  height:50px;
  width:80vw;
}


  .results-wrapper {
margin: 40px auto;
width:unset;
  }

  /* //icons */
#searchIcon {
    font-size: 20px;
  }

  #closeIcon {
    font-size: 20px;
  }

/* //placeholder text */
  #search-input {
    height:20px;
  width:56vw;
  font-size: 20px;
  
  }

  #search-results {
    width:80vw;
    border-radius: 0 0 0.5rem 0.5rem;
  }

  .result-box {
    font-size: 20px;
  }

button {
  margin: auto;
  display: flex;
  position: relative;

  font-size: 15px;
}

}
