/* body {
  background-color: #ffd8d8;
}

.search-title {
  color: rgb(214, 76, 76);
  font-size: 60px;
  font-weight: bolder;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  
  padding-bottom: 6%;
  margin-left: 1%;
}
input[type="input"] {
  width: 100%;
  height: 96px;
  font-size: 40px;
  line-height: 1;
  font-family: "Roboto Mono", monospace;
}
input[type="input"]::placeholder {
  color: #e16868;
 
  font-family: "Roboto Mono", monospace;
}

input,
select,
textarea {
  color: white;
  font-family: "Roboto Mono", monospace;
}
#search-input {
  outline: none;
  
  background-color: #ff7575;
  border-radius: 20px;
  box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
  transform: scale(0.7);
  border: none;
  
  float: left;
  margin: 0.8em 0 0 0.5em;
 
  padding: 0.4em 0 0.4em 0.6em;
  height: inherit;
  width: 40%;
  height: 70px;
  border-radius: 10px;
}

#button-holder {
  
  cursor: pointer;
  box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;
  margin: 30px 0 0 -20px;

  width: 10px;
}

.input-append,
#button-holder {
  
  height: 30px;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icon-search {
  color: #e16868;
}

#search-results {
 
  background-color: #ff7575;
  list-style: none;
  padding: 2px;
  margin: 0;
  display: block;
  float: left;
} */

* {
  font-size: 1.5rem;
}
.input-wrapper {
  width: 40%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e26d5c;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: white;
  box-shadow: 0.25rem 0.25rem 0rem #f0b2a8;
}

input {
  margin: 0 0.5rem 0 0.5rem;
  width: 100%;
  border: none;
  outline: none;
  background: #e26d5c;
  color: white;
}

::placeholder {
  color: #f0b2a8;
}

:root {
  --backgroundColor: rgba(246, 241, 209);
  --colorShadeA: rgb(106, 163, 137);
  --colorShadeB: rgb(121, 186, 156);
  --colorShadeC: rgb(150, 232, 195);
  --colorShadeD: rgb(187, 232, 211);
  --colorShadeE: rgb(205, 255, 232);
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "OpenSans", sans-serif;
  font-size: 1rem;
  line-height: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background: var(--backgroundColor);
}
button {
  margin-left: 30px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1rem;
  color: var(--colorShadeA);
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;
}

button.big-button {
  padding: 1em 2em;
  border: 2px solid var(--colorShadeA);
  border-radius: 1em;
  background: var(--colorShadeE);
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
button.big-button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--colorShadeC);
  border-radius: inherit;
  box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
  transform: translate3d(0, 0.75em, -1em);
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

button.big-button:hover {
  background: var(--colorShadeD);
  transform: translate(0, 0.375em);
}

button.big-button:hover::before {
  transform: translate3d(0, 0.75em, -1em);
}

button.big-button:active {
  transform: translate(0em, 0.75em);
}

button.big-button:active::before {
  transform: translate3d(0, 0, -1em);

  box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
}
